extends layout

block title
    title 医生
    link(href="/stylesheets/doctor.css", rel="stylesheet", media="all")

block breadcrumb
    li
        a(href="/") 主页
    //li
    //    a(href="/#{detail.province}/hospitals") #{detail.province}
    li
        a(href="/concierge/reserve/#{hospitalId}") #{detail.hospital}
    li #{detail.department}
    li.active #{detail.name}

block header-content-extra
    h1.doctor-name #{detail.name}
    label.doctor-title #{detail.title}

block site-content
    div.container
        div#site-content
            if code == "22"
                .alert.alert-warning.alert-dismissible
                    button.close(type="button", data-dismiss="alert")
                        span ×
                    strong.alert-message 您已预约了这个时间段，请不要重复预约。
            else if code
                .alert.alert-warning.alert-dismissible
                    button.close(type="button", data-dismiss="alert")
                        span ×
                    strong.alert-message #{message}
            img.img-thumbnail.img-responsive.doctor-image(src="/pictures/#{detail.photo_url}")
            div.doctor-info
                div.hospital
                    span.hospital-label 医院：
                    span.hospital-content #{detail.hospital}
                div.department
                    span.department-label 科室：
                    span.department-content #{detail.department}
                div.price
                    span.price-label 挂号费：
                    span.price-content #{detail.price}元

            div.doctor-intro
                div.intro-title
                    h4 医生简介
                hr
                div.intro-content!=detail.description
                div.intro-title
                    h4 预约时间表
                hr
                if !status
                    .alert.alert-warning
                        strong.alert-message 您必须登陆后才能预约。
                if status == "Rejected"
                    .alert.alert-warning
                        strong.alert-message 您的帐号已被系统拒绝，无法预约。
                if status == "Validating"
                    .alert.alert-warning
                        strong.alert-message 您的帐号还没有通过审核，暂时无法预约。
                .table-responsive
                    table#timetable.table
                        thead: tr#date
                            th 时间
                            each time in detail.time_slots
                                th
                                    | #{time.date.month}/#{time.date.date}
                                    br
                                    | #{time.date.day}
                        tr#morning
                            th 上午
                            each time in detail.time_slots
                                td(data-date="#{time.date.year}-#{time.date.month}-#{time.date.date}", data-day="#{time.date.day}")
                                    if time.slot.morning[0]
                                        if time.slot.morning[2] != time.slot.morning[1]
                                            if status == "Accepted"
                                                a(href="#") 预约
                                                br
                                                | 余#{time.slot.morning[1] - time.slot.morning[2]}
                                            else
                                                | 预约
                                                br
                                                | 余#{time.slot.morning[1] - time.slot.morning[2]}
                                        else
                                            | 已满
                                    else
                                        | -
                        tr#afternoon
                            th 下午
                            each time in detail.time_slots
                                td(data-date="#{time.date.year}-#{time.date.month}-#{time.date.date}", data-day="#{time.date.day}")
                                    if time.slot.afternoon[0]
                                        if time.slot.afternoon[2] != time.slot.afternoon[1]
                                            if status == "Accepted"
                                                a(href="#") 预约
                                                br
                                                | 余#{time.slot.afternoon[1] - time.slot.afternoon[2]}
                                            else
                                                | 预约
                                                br
                                                | 余#{time.slot.afternoon[1] - time.slot.afternoon[2]}
                                        else
                                            | 已满
                                    else
                                        | -
                        tr#evening
                            th 晚间
                            each time in detail.time_slots
                                td(data-date="#{time.date.year}-#{time.date.month}-#{time.date.date}", data-day="#{time.date.day}")
                                    if time.slot.evening[0]
                                        if time.slot.evening[2] != time.slot.evening[1]
                                            if status == "Accepted"
                                                a(href="#") 预约
                                                br
                                                | 余#{time.slot.evening[1] - time.slot.evening[2]}
                                            else
                                                | 预约
                                                br
                                                | 余#{time.slot.evening[1] - time.slot.evening[2]}
                                        else
                                            | 已满
                                    else
                                        | -

            form#post-form.hidden(method="POST", action="/concierge/reserve-confirm")
                input(name="hospitalId", value="#{hospitalId}")
                input(name="hospital", value="#{detail.hospital}")
                input(name="departmentId", value="#{departmentId}")
                input(name="department",value="#{detail.department}")
                input(name="doctorId", value="#{detail.id}")
                input(name="doctor", value="#{detail.name}")
                input(name="title", value="#{detail.title}")
                input(name="price", value="#{detail.price}")
                input(name="resvDate")
                input(name="resvTime")
                input(name="day")

    script.

        $(document).ready(function() {

            $("#timetable a").click(function() {
                $("#post-form input[name='resvDate']").val($(this).parent("td").data("date"));
                $("#post-form input[name='resvTime']").val($(this).parents("tr").attr("id"));
                $("#post-form input[name='day']").val($(this).parent("td").data("day"));
                $("#post-form").submit();
            });

        });