extends layout

block title
    title 医生

block breadcrumb
    li
        a(href="/") 主页
    //li
    //    a(href="/#{detail.province}/hospitals") #{detail.province}
    li
        a(href="/concierge/reserve/#{hospitalId}") #{detail.hospital}
    li #{detail.department}
    li.active #{detail.name}

block site-content
    link(href="/stylesheets/doctor.css", rel="stylesheet", media="all")

    div#site-content

        table#timetable.table
            tr#date
                each time in detail.time_slots
                    th(data-date="#{time.date.year}-#{time.date.month}-#{time.date.date}") #{time.date.month}/#{time.date.date}<br/>#{time.date.day}
            tr#morning
                each time in detail.time_slots
                    td(data-date="#{time.date.year}-#{time.date.month}-#{time.date.date}")
                        if time.slot.morning
                            a(href="#") 预约
                        else
                            | -
            tr#afternoon
                each time in detail.time_slots
                    td(data-date="#{time.date.year}-#{time.date.month}-#{time.date.date}")
                        if time.slot.afternoon
                            a(href="#") 预约
                        else
                            | -
            tr#evening
                each time in detail.time_slots
                    td(data-date="#{time.date.year}-#{time.date.month}-#{time.date.date}")
                        if time.slot.evening
                            a(href="#") 预约
                        else
                            | -
                            

        form#post-form.hidden(method="POST", action="/concierge/reserve-confirm")
            input(name="hospitalId", value="#{hospitalId}")
            input(name="hospital", value="#{detail.hospital}")
            input(name="departmentId", value="#{departmentId}")
            input(name="department",value="#{detail.department}")
            input(name="doctorId", value="#{detail.id}")
            input(name="doctor", value="#{detail.name}")
            input(name="title", value="#{detail.title}")
            input(name="price", value="#{detail.price}")
            input(name="resvDate")
            input(name="resvTime")

    script.

        $(document).ready(function() {

            $("#timetable a").click(function() {
                $("#post-form input[name='resvDate']").val($(this).parent("td").data("date"));
                $("#post-form input[name='resvTime']").val($(this).parents("tr").attr("id"));
                $("#post-form").submit();
            });

        });