extends layout

block append stylesheets
    link(href="/stylesheets/hospital_list.css", rel="stylesheet", media="all")

block title
    title 医院列表

block breadcrumb
    li
        a(href="/") 主页
    if search
        li.active 搜索结果
    else
        li.active #{province}


block site-content
    div.container
        div#site-content

            if code
                .alert.alert-warning
                    strong #{message}

            div.hospital-list
                div.alert.alert-warning.hidden 没有找到符合条件的结果
                each hospital in list
                    div.hospital
                        img(src="/pictures/#{hospital.photo}").image
                        div.hospital-info
                            div.name
                                a(href="/concierge/reserve/#{hospital.id}") #{hospital.name}
                            div.rating #{hospital.level}
                            div.tel
                                i.fa.fa-phone.fa-fw
                                | #{hospital.telephone}
                            div.addr
                                i.fa.fa-map-marker.fa-fw
                                | #{hospital.address}
                        div.reservation
                            a.btn.btn-primary(href="/concierge/reserve/#{hospital.id}") 挂号

    script.

        $(document).ready(function () {

            var hospitalCount = 0;
            $(".hospital").each(function() {
                hospitalCount++;
            });
            console.log(hospitalCount);
            if (hospitalCount == 0) {
                $(".alert").removeClass("hidden");
            }

        });