extends layout

block append stylesheets
    link(href="/stylesheets/hospital.css", rel="stylesheet", media="all")

block append javascripts
    script(src="http://api.map.baidu.com/api?v=2.0&ak=pZFhoaCvZGuO14AmE2f0Xkon")

block title
    title 医院

block breadcrumb
    li
        a(href="/") 主页
    li
        a(href="/#{detail.province}/hospitals") #{detail.province}
    li.active #{detail.name}

block header-content-extra
    h1.hospital-name #{detail.name}
    label.hospital-rating #{detail.level}
    ul.nav.nav-tabs
        li.active(role="presentation")
            a(href="#hospital-index", data-toggle="tab") 医院主页
        li(role="presentation")
            a(href="#reserve", data-toggle="tab") 预约挂号

block site-content
    div.container
        div#site-content.tab-content
            div#hospital-index.tab-pane.fade.in.active(role="tabpanel")
                img.hospital-image(src="/pictures/#{detail.photo}")
                div.hospital-info
                    div.addr
                        span.addr-label 地址：
                        span.addr-content #{detail.address}
                    div.tel
                        span.tel-label 电话：
                        span.tel-content #{detail.telephone}
                    div.site
                        span.site-label 官网：
                        span.site-content
                            a(href="#{detail.website}") #{detail.website}

                div.hospital-intro
                    div.intro-title
                        h4 医院简介
                    hr
                    div.intro-content !{detail.description}
                    div.intro-title
                        h4 科室列表
                    hr
                    div.departments
                        each department in departments
                            a.department-tag(href="#") #{department.name}

                    div.intro-title(style='margin-top:20px;')
                        h4 医院地图
                    hr
                    div#hospital-map

            div#reserve.tab-pane.fade(role="tabpanel")

                div#select.hidden
                    | 您已选择：
                    span#select-item-department.select-item.hidden
                        span.select-item-info
                        span.select-item-close
                            i.fa.fa-close
                    span#select-item-title.select-item.hidden
                        span.select-item-info
                        span.select-item-close
                            i.fa.fa-close
                    span#select-item-date.select-item.hidden
                        span.select-item-info
                        span.select-item-close
                            i.fa.fa-close

                span#select-date-title 时间
                select#select-date
                    option(value=1, selected) 1
                    option(value=2) 2
                    option(value=3) 3
                    option(value=4) 4
                    option(value=5) 5
                    option(value=6) 6
                    option(value=7) 7
                select#select-time
                    option(value="all", selected) 不限
                    option(value="morning") 上午
                    option(value="afternoon") 下午
                    option(value="evening") 晚间
                button#apply-selection.btn.btn-primary.btn-xs 过滤时间

                table.table#select-department
                    td.table-header(rowspan=100) 科室
                    - var col = 5;
                    each department in departments
                        if col == 0
                            tr
                            - col = 5;
                        td.table-content
                            a(href="#") #{department.name}
                            br
                        - col--;
                    while col > 0
                        td.table-content
                        - col--;

                table.table#select-title
                    tr
                        td.table-header 医生职称
                        td.table-content
                            a(href="#") 特级专家
                        td.table-content
                            a(href="#") 海外专家
                        td.table-content
                            a(href="#") 专家
                        td.table-content
                            a(href="#") 医师
                        td.table-content
                            a(href="#") 实习医生

                div.doctor-list
                    each department, department_id in doctors
                        each doctor in department
                            div.doctor(data-department="#{doctor.department}", data-title="#{doctor.title}", data-working1="#{doctor.working[0]}",
                            data-working2="#{doctor.working[1]}", data-working3="#{doctor.working[2]}", data-working4="#{doctor.working[3]}",
                            data-working5="#{doctor.working[4]}", data-working6="#{doctor.working[5]}", data-working7="#{doctor.working[6]}")
                                img(src="/pictures/#{doctor.photo_url}").image
                                div.doctor-info
                                    div.name
                                        a(href="/concierge/reserve/#{detail.id}/#{department_id}/#{doctor.id}") #{doctor.name}
                                    div.title #{doctor.title}
                                    div.department #{doctor.department}
                                div.doctor-intro #{doctor.description}
                                div.reservation
                                    a.btn.btn-primary(href="/concierge/reserve/#{detail.id}/#{department_id}/#{doctor.id}") 挂号

                div.empty.hidden
                    div.alert.alert-info 没有找到符合条件的结果，请尝试减少筛选条件

                nav.paging.hidden
                    ul.pagination
                        li.prev-page
                            a «
                        li.next-page
                            a »

            script.

                $(document).ready(function() {

                    var selectedDepartment = "all";
                    var selectedTitle = "all";
                    var selectedDate = "all";
                    var selectedTime = "all";
                    var pageCount = 1;
                    var currentPage = 1;
                    updateAll();

                    for (var i = 1; i <= 7; i++) {
                        var date = new Date();
                        date.setDate(date.getDate() + i);
                        var day = ["日", "一", "二", "三", "四", "五", "六"];
                        $("#select-date option:nth-child(" + i + ")").html(date.getFullYear() + "年" + (date.getMonth() + 1) +
                                "月" + date.getDate() + "日 " + "星期" + day[date.getDay()]);
                    }

                    if (typeof BMap !== 'undefined') {
                        var map = new BMap.Map("hospital-map");
                        var bottom_left_control = new BMap.ScaleControl({anchor: BMAP_ANCHOR_BOTTOM_LEFT});
                        var top_left_navigation = new BMap.NavigationControl();
                        map.addControl(bottom_left_control);
                        map.addControl(top_left_navigation);
                        var myGeo = new BMap.Geocoder();
                        myGeo.getPoint("#{detail.address}", function(point) {
                            if (point) {
                                map.centerAndZoom(point, 16);
                                map.addOverlay(new BMap.Marker(point));
                            }
                        });
                    }

                    $(".department-tag").click(function () {
                        var selection = $(this).html();
                        $("#select-department a").each(function () {
                            if ($(this).html() == selection) {
                                $(this).click();
                            }
                        });
                        $("a[href=\"#reserve\"]").tab("show");
                    });

                    function updateSelection() {
                        $(".doctor").each(function() {
                            if (($(this).data("department") == selectedDepartment || selectedDepartment == "all") &&
                                    ($(this).data("title") == selectedTitle || selectedTitle == "all")) {
                                $(this).removeClass("hidden");
                            } else {
                                $(this).addClass("hidden");
                            }
                            if (selectedDate != "all") {
                                var working = $(this).data("working" + selectedDate);
                                if (selectedTime == "all") {
                                    if (working == 0) {
                                        $(this).addClass("hidden");
                                    }
                                }
                                if (selectedTime == "morning") {
                                    switch (working) {
                                        case 1:
                                        case 3:
                                        case 5:
                                        case 7:
                                            break;
                                        default:
                                            $(this).addClass("hidden");
                                            break;
                                    }
                                }
                                if (selectedTime == "afternoon") {
                                    switch (working) {
                                        case 2:
                                        case 3:
                                        case 6:
                                        case 7:
                                            break;
                                        default:
                                            $(this).addClass("hidden");
                                            break;
                                    }
                                }
                                if (selectedTime == "evening") {
                                    switch (working) {
                                        case 4:
                                        case 5:
                                        case 6:
                                        case 7:
                                            break;
                                        default:
                                            $(this).addClass("hidden");
                                            break;
                                    }
                                }
                            }
                        });
                    }

                    function updateSelectionItem() {
                        $("#select-item-department>.select-item-info").html(selectedDepartment);
                        $("#select-item-title>.select-item-info").html(selectedTitle);
                        if (selectedDate != "all") {
                            if (selectedTime == "all") {
                                $("#select-item-date>.select-item-info").html($("#select-date option:nth-child(" + selectedDate + ")").html());
                            } else {
                                var time = {"morning": "上午", "afternoon": "下午", "evening": "晚间"};
                                $("#select-item-date>.select-item-info").html($("#select-date option:nth-child(" + selectedDate + ")").html() +
                                " " + time[selectedTime]);
                            }
                        }
                        if (selectedDepartment == "all" && selectedTitle == "all" && selectedDate == "all") {
                            $("#select").addClass("hidden");
                        } else {
                            $("#select").removeClass("hidden");
                        }
                        if (selectedDepartment == "all") {
                            $("#select-item-department").addClass("hidden");
                        } else {
                            $("#select-item-department").removeClass("hidden");
                        }
                        if (selectedTitle == "all") {
                            $("#select-item-title").addClass("hidden");
                        } else {
                            $("#select-item-title").removeClass("hidden");
                        }
                        if (selectedDate == "all") {
                            $("#select-item-date").addClass("hidden");
                        } else {
                            $("#select-item-date").removeClass("hidden");
                        }
                    }

                    function checkEmpty() {
                        var empty = true;
                        $(".doctor").each(function () {
                            if (!$(this).hasClass("hidden")) {
                                empty = false;
                            }
                        });
                        if (empty) {
                            $(".empty").removeClass("hidden");
                        } else {
                            $(".empty").addClass("hidden");
                        }
                    }

                    function updatePageCount() {
                        var doctorCount = 0;
                        $(".doctor").each(function () {
                            if (!$(this).hasClass("hidden")) {
                                doctorCount++;
                                $(this).attr("id", "item-" + doctorCount);
                            } else {
                                $(this).removeAttr("id");
                            }
                        });
                        pageCount = Math.ceil(doctorCount / 10);
                        $(".page-number").remove();
                        if (pageCount > 1) {
                            for (var i = 1; i <= pageCount; i++) {
                                $("li.next-page").before("<li id=\"page-" + i + "\" class=\"page-number\"><a>" + i + "</a></li>");
                            }
                            $("#page-1").addClass("active");
                            $("li.prev-page").addClass("disabled");
                            $("li.next-page").removeClass("disabled");
                            $("nav.paging").removeClass("hidden");
                        } else {
                            $("nav.paging").addClass("hidden");
                        }
                        currentPage = 1;
                    }

                    function updatePage() {
                        $(".doctor").each(function () {
                            $(this).addClass("hidden");
                        });
                        for (var i = (currentPage - 1) * 10 + 1; i <= currentPage * 10; i++) {
                            $("#item-" + i).removeClass("hidden");
                        }
                        $(".pagination>li.active").removeClass("active");
                        $("#page-" + currentPage).addClass("active");
                        if (currentPage == 1) {
                            $("li.prev-page").addClass("disabled");
                        } else {
                            $("li.prev-page").removeClass("disabled");
                        }
                        if (currentPage == pageCount) {
                            $("li.next-page").addClass("disabled");
                        } else {
                            $("li.next-page").removeClass("disabled");
                        }
                    }

                    function updateAll() {
                        updateSelection();
                        updateSelectionItem()
                        checkEmpty();
                        updatePageCount();
                        updatePage();
                    }

                    $("#select-department a").click(function() {
                        selectedDepartment = $(this).html();
                        updateAll();
                    });

                    $("#select-title a").click(function () {
                        selectedTitle = $(this).html();
                        updateAll();
                    });

                    $("#select-item-department>.select-item-close").click(function () {
                        selectedDepartment = "all";
                        updateAll();
                    });

                    $("#select-item-title>.select-item-close").click(function () {
                        selectedTitle = "all";
                        updateAll();
                    });

                    $("#select-item-date>.select-item-close").click(function () {
                        selectedDate = "all";
                        selectedTime = "all";
                        updateAll();
                    });

                    $("#apply-selection").click(function() {
                        selectedDate = $("#select-date").val();
                        selectedTime = $("#select-time").val();
                        updateAll();
                    })

                    $(".pagination").on("click", "li.page-number>a", function() {
                        currentPage = $(this).html();
                        updatePage();
                    });

                    $(".pagination>li.prev-page>a").click(function() {
                        if (currentPage > 1) {
                            currentPage--;
                        } else {
                            return;
                        }
                        updatePage();
                    });

                    $(".pagination>li.next-page>a").click(function() {
                        if (currentPage < pageCount) {
                            currentPage++;
                        } else {
                            return;
                        }
                        updatePage();
                    });

                });