extends layout

block title
    title 医院列表

block breadcrumb
    li
        a(href="/") 主页
    if search
        | 搜索结果
    else
        li.active #{province}


block site-content
    link(href="/stylesheets/hospital_list.css", rel="stylesheet", media="all")

    div#site-content
        div.hospital-list
            each hospital in list
                div.hospital
                    img.image
                    div.hospital-info
                        div.name
                            a(href="/concierge/reserve/#{hospital.id}") #{hospital.name}
                        div.rating #{hospital.level}
                        div.tel
                            i.fa.fa-phone.fa-fw
                            | #{hospital.telephone}
                        div.addr
                            i.fa.fa-map-marker.fa-fw
                            | #{hospital.address}
                    table.vertical-middle-helper
                        tr
                            td.vertical-middle
                                button.register.btn.btn-primary 挂号