extends layout

block title
    title 医院
    link(href="/stylesheets/hospital.css", rel="stylesheet", media="all")
    script(src="http://api.map.baidu.com/components?ak=pZFhoaCvZGuO14AmE2f0Xkon&v=1.0")

block breadcrumb
    li
        a(href="/") 主页
    li
        a(href="/#{detail.province}/hospitals") #{detail.province}
    li.active #{detail.name}

block header-content-extra
    h1.hospital-name #{detail.name}
    label.hospital-rating #{detail.level}
    ul.nav.nav-tabs
        li.active(role="presentation")
            a(href="#hospital-index", data-toggle="tab") 医院主页
        li(role="presentation")
            a(href="#reserve", data-toggle="tab") 预约挂号

block site-content
    div#site-content.tab-content
        div#hospital-index.tab-pane.fade.in.active(role="tabpanel")
            img.hospital-image
            div.hospital-info
                div.addr
                    span.addr-label 地址：
                    span.addr-content #{detail.address}
                div.tel
                    span.tel-label 电话：
                    span.tel-content #{detail.telephone}
                div.site
                    span.site-label 官网：
                    span.site-content
                        a(href="#{detail.website}") #{detail.website}

            div.hospital-intro
                div.intro-title
                    h4 医院简介
                hr
                div.intro-content #{detail.description}
                div.intro-title
                    h4 医院地图
                hr
                div.hospital-map
                    lbs-map
                        lbs-poi(name="奎科科技大厦")

        div#reserve.tab-pane.fade(role="tabpanel")
            table.table#select-department
                td.table-header(rowspan=100) 科室
                - var col = 5;
                each department in departments
                    if col == 0
                        tr
                        - col = 5;
                    td.table-content
                        a(href="#") #{department.name}
                        br
                    - col--;
                while col > 0
                    td.table-content
                    - col--;

            table.table#select-title
                tr
                    td.table-header 医生职称
                    td.table-content
                        a(href="#") 特级专家
                    td.table-content
                        a(href="#") 海外专家
                    td.table-content
                        a(href="#") 专家
                    td.table-content
                        a(href="#") 医师
                    td.table-content
                        a(href="#") 实习医生

            div.department-list
                each department, department_id in doctors
                    div.department(data-name="#{department[0].department}")
                        each doctor in department
                            div.doctor
                                img(src="/pictures/#{doctor.photo_url}").image
                                div.doctor-info
                                    div.name
                                        a(href="/concierge/reserve/#{detail.id}/#{department_id}/#{doctor.id}") #{doctor.name}
                                    div.title #{doctor.title}
                                    div.department #{doctor.department}
                                div.doctor-intro #{doctor.description}
                                div.reservation
                                    a.gbn.gbt-blue(href="/concierge/reserve/#{detail.id}/#{department_id}/#{doctor.id}") 挂号

            script.

                $(document).ready(function() {


                    $.ajax({
                        type: "GET",
                        url: "http://api.map.baidu.com/geocoder/v2/?output=json&ak=pZFhoaCvZGuO14AmE2f0Xkon&address=人民广场",
                        data: {
                            ak: "pZFhoaCvZGuO14AmE2f0Xkon",
                            output: "json",
                            address: "#{detail.address}"
                        }
                    }).done(function(data) {
                        console.log(data);
                    });

                    $("#select-department a").click(function() {
                        var selection = $(this).html();
                        $(".department-list>.department").each(function() {
                            if ($(this).data("name") != selection) {
                                $(this).addClass("hidden");
                            } else {
                                $(this).removeClass("hidden");
                            }
                        });

                        $("#select-title a").click(function() {
                            var selection = $(this).html();
                            $(".doctor").each(function() {
                                console.log($(this).find(".title").html());
                                if ($(this).find(".title").html() != selection) {
                                    $(this).addClass("hidden");
                                } else {
                                    $(this).removeClass("hidden");
                                }
                            });
                        });
                    });

                });