extends layout

block append stylesheets
    link(href="/stylesheets/hospital_list.css", rel="stylesheet", media="all")

block title
    title 医院列表

block breadcrumb
    li
        a(href="/") 主页
    if search
        li.active 搜索
    else
        li.active #{province}


block site-content
    div.container
        div#site-content

            if code
                .alert.alert-warning
                    strong #{message}

            if search
                h4(style='margin-bottom:40px;margin-top:30px;') #{searchText} 的搜索结果

            div.hospital-list
                div.alert.alert-warning.hidden 没有找到符合条件的结果
                each hospital in list
                    div.hospital
                        div.row
                            img(src="/pictures/#{hospital.photo}").image.col-lg-2.col-md-2.col-sm-3.col-xs-3
                            div.hospital-info.col-lg-8.col-md-8.col-sm-6.col-xs-6
                                div.name
                                    a(href="/concierge/reserve/#{hospital.id}") #{hospital.name}
                                div.rating
                                    i.fa.fa-hospital-o.fa-fw
                                    | #{hospital.level}
                                div.tel
                                    i.fa.fa-phone.fa-fw
                                    | #{hospital.telephone}
                                div.addr
                                    i.fa.fa-map-marker.fa-fw
                                    | #{hospital.address}
                            div.reservation.col-lg-1.col-md-1.col-sm-3.col-xs-3
                                div.vertical-middle-table
                                    div.vertical-middle-cell
                                        a.btn.btn-primary(href="/concierge/reserve/#{hospital.id}") 挂号

    script.

        $(document).ready(function () {

            var hospitalCount = 0;
            $(".hospital").each(function() {
                hospitalCount++;
            });
            console.log(hospitalCount);
            if (hospitalCount == 0) {
                $(".alert").removeClass("hidden");
            }

        });