extends layout

block title
    title 新的预约单
block site-content
    link(href="/stylesheets/reservation.css", rel="stylesheet", media="all")
    .main-block
        form
            .info
                .title
                    | 确认预约订单信息
                table.table
                    thead
                        tr
                            th
                                p 医生信息
                            th
                                p 门诊类型
                            th
                                p 就诊时间
                            th
                                p 挂号费
                    tbody
                        tr
                            td
                                .doc-info
                                    dl
                                        dt
                                            a(href="/concierge/reserve/#{detail.hospitalId}/#{detail.departmentId}/#{detail.doctorId}",target="_blank") #{detail.doctor}
                                            span  #{detail.doctorTitle}
                                        dd
                                            p
                                                a(href="/concierge/reserve/#{detail.hospitalId}",target="_blank") #{detail.hospital}
                                            p
                                                a #{detail.department}
                            td
                                | 专家门诊
                            td
                                | #{detail.date} #{detail.time}
                            td.money
                                | ￥#{detail.price}
                p.tips 温馨提醒：挂号网免费提供预约挂号服务，实际挂号费由医院收取，请放心使用。
            .bookinfo
                div
                    .title 就诊人信息
                    .user-boxes
                        dl.on
                            dt #{detail.userRealName}
                            dd
                                | #{detail.userSocialId}
                                br
                                | #{detail.userTelephone}
                .verify
                    .knowit
                        label
                            input#check(type='checkbox')
                            |  我已了解：如遇专家停诊，您的订单会被取消，我们会以短信通知到您，请保持手机畅通，并及时关注订单状态。
            .actions
                button.btn.gbb.gbt-green(onclick='confirm()') 确认预约
            .verify
                span
                    | 预约成功的短信将发送到手机：
                    em #{detail.userTelephone}
                    | ，请注意查收！

    script(type='text/javascript').
        function confirm() {
            if (!$("#check").prop("checked")) {
                alert("请阅读并点选“我已了解”");
                return false;
            } else {
                $.post("/concierge/reserve/submit", {
                    hospitalId: "#{detail.hospitalId}",
                    departmentId: "#{detail.departmentId}",
                    doctorId: "#{detail.doctorId}",
                    resvDate: "#{detail.date}",
                    resvTime: "#{detail.time}",
                    day: "#{detail.day}"
                });
            }
        }