extends usercenter_layout
block append scripts
    script().
        var post_content = {};
        var validated=true;
        function checkEmail() {
            re = /(\w*\.*)+@(\w?)+(\.\w{2,})+$/;
            str = $("#email").val();
            if (re.test(str)) {
                $("#email_prompt").html("");
            }
            else {
                $("#email_prompt").html("<font color='red'>格式不正确</font>");
                $("#change_email").disable();
            }
        }
        function validate() {
            if ($("#pw2").val() != $("#pw1").val()) {
                alert("两次输入的密码不一样");
                validated=false;
                return false;
            }
            else{
                validated=true;
                return true;
            }
        }
        $(document).ready(function () {

            $('#phone').val("#{phone}");
            $('#email').val("#{email}");

            $("#submit").click(function () {
                if (validated) {
                    post_content.phone = $("#phone").val();
                    post_content.email = $("#email").val();
                    if (!$("pre_pw")) {
                        post_content.pre_pw = hex_md5($("#pre_pw").val());
                        post_content.new_pw = hex_md5($("#pw2").val());
                    }
                    $.post("/account/manage/info", post_content,
                            function (data, status) {
                                location.replace("/account/manage/info/m/" + data);
                            }
                    );
                }
            });
        });

block right_block

    .person-right
        .order-remind.g-clear
            span.icon.gi2.gi-order-big
            .meta: h1 个人中心
        ul.nav.nav-tabs(role='tablist')
            li.active(role='presentation')
                a(href='#account_info', role='tab', data-toggle='tab') 账号信息
            li(role='presentation')
                a(href='#change_info', role='tab', data-toggle='tab') 修改信息
        div.tab-content
            div#account_info.tab-pane.fade.in.active
                .second_block
                    span.second_label 账号信息
                hr#hr_style
                .list_content
                    span 登录名: #{username}
                    span 真实姓名: #{name}
                    span 电话: #{phone}
                    span 邮箱: #{email}
                    span 身份证号:#{sid}
                    span 信用额度:#{credit}
                    span 状态：#{status}
            div#change_info.tab-pane.fade
                .second_block: span.second_label  修改信息
                hr(style='line-width:1;', width='90%', color='#1E90FF', size='1')
                div: form( name='pwinfo_modify_form'): .form-group(style='margin-left:60px')
                    label 原密码
                    input.form-control(type='password', style='width:40%', id='pre_pw',placeholder='不修改密码请勿填写')
                    label 新密码
                    input.form-control(type='password', style='width:40%',id='pw1',placeholder='不修改密码请勿填写')
                    label 确认密码
                    input.form-control(type='password', style='width:40%', id='pw2',placeholder='不修改密码请勿填写',onblur='validate();')
                    span(id='prompt')
                    label(style='display:block') 电话
                    input.form-control(type='text', style='width:40%;display:inline', id='phone')
                    label(style='display:block') 邮箱
                    input.form-control(type='email', style='width:40%;display:inline',onblur='checkEmail();' id='email')
                    span(id='email_prompt',style='margin-left:10px')
                    button.btn.btn-primary(type='button',id='submit',style="display:block") 保存
