extends layout

block append stylesheets
    link(rel='stylesheet', href='/backstage/css/editable.css', media='all')

block append scripts
    script(src="/javascripts/md5.js")
    script(src='/backstage/plugins/bootstrap3-editable/js/bootstrap-editable.js')

block breadcrumb
    li: a(href='/') 主页
    li.active 个人中心

block site-content
    style.
        .user-detail-item {
            margin-bottom: 10px;
        }
        .user-detail-item .col-sm-2 {
            font-weight: bold;
        }
        .form-horizontal .control-label {
            text-align: left;
        }
        input.input-medium,
        input {
            outline: none !important;
        }
        .editable-cancel {
            display: none;
        }
        .editable-submit {
            padding: 3px 20px;
            border-radius: 20px;
            box-shadow: none;
            background: #fff;
            border: 1px solid #ddd;
            color: #888 !important;
        }
        .editable-submit:hover {
            background: #eee;
        }
    .container(style='padding-top: 30px')
        .col-sm-2.row
            .list-group
                a.list-group-item.active(href='/account/manage/info') 个人中心
                a.list-group-item(href='/account/manage/reservation') 预约列表
        .col-sm-9.col-sm-offset-1(style='font-size: 16px;')
            h4(style='margin-bottom:30px') 个人中心
            if message == '更新成功'
                .alert.alert-success 密码修改成功。
            else if message
                .alert.alert-warning 原密码输入错误。
            .panel.panel-default
                .panel-heading
                    h3.panel-title 个人信息
                .panel-body
                    .row.user-detail-item
                        .col-sm-2 登录名
                        .col-sm-10 #{username}
                        .clearfix
                    .row.user-detail-item
                        .col-sm-2 真实姓名
                        .col-sm-10 #{name}
                        .clearfix
                    .row.user-detail-item
                        .col-sm-2 电话
                        .col-sm-10
                            a.editable(href='#', data-item='phone') #{phone}
                        .clearfix
                    .row.user-detail-item
                        .col-sm-2 邮箱
                        .col-sm-10
                            a.editable(href='#', data-item='email') #{email}
                        .clearfix
                    .row.user-detail-item
                        .col-sm-2 身份证号
                        .col-sm-10 #{sid}
                        .clearfix
                    .row.user-detail-item
                        .col-sm-2 信用额度
                        .col-sm-10 #{credit}
                        .clearfix
                    .row.user-detail-item
                        .col-sm-2 账户状态
                        if status == 'Accepted'
                            .col-sm-10 正常
                        else if status == 'Rejected'
                            .col-sm-10 未通过审核
                        else if status == 'Validating'
                            .col-sm-10 系统审核中
                        else
                            .col-sm-10 #{status}
                        .clearfix
            .panel.panel-danger
                .panel-heading
                    h3.panel-title 修改密码
                .panel-body
                    form.form-horizontal.change-password-form(method='POST')
                        .form-group
                            label.col-sm-2.control-label 原密码
                            .col-sm-10
                                input.form-control.old-password(type='password', name='pre_pw', required)
                        .form-group
                            label.col-sm-2.control-label 新密码
                            .col-sm-10
                                input.form-control.new-password(type='password', name='new_pw', required)
                        .form-group
                            label.col-sm-2.control-label 确认新密码
                            .col-sm-10
                                input.form-control.confirm-new-password(type='password', name='new_pw2', required)
                        .form-group(style='margin-bottom:0')
                            .col-sm-10
                                button.btn.btn-default 修改密码
                                span.text-warning.errMsg(style='display:none;padding-left:15px;')

    script.
        $(function() {
            $('.editable').editable({
                url: '/account/manage/info',
                type: 'text',
                send: 'always',
                mode: 'inline',
                params: function(params) {
                    var data = {};
                    var item = $(this).data('item');
                    data[item] = params.value;
                    return data;
                }
            });
            $('.change-password-form').on('submit', function() {
                var old = $('.old-password').val();
                var new1 = $('.new-password').val();
                var new2 = $('.confirm-new-password').val();
                var $msg = $('.errMsg');
                if (new1 == '' || new2 == '' || old == '') {
                    $msg.text('请输入密码。');
                    $msg.show();
                    return false;
                } else if (new1 !== new2) {
                    $msg.text('两次密码输入不相同，请重试。');
                    $msg.show();
                    return false;
                }
                var hashed = hex_md5($('.new-password').val());
                $('.new-password').val(hashed);
                $('.confirm-new-password').val(hashed);
                return true;
            });
        });