extends layout

block title
    title 预约详情

block site-content
    link(href="/stylesheets/reservation.css", rel="stylesheet", media="all")

    .order-detail
        ul
            li.title 取号信息
            li
                p
                    span 联系电话：#{userTelephone}
                    span 取号地点：门诊3楼挂号处
                p
                    span 就诊日期：#{resvDetail.date} #{resvDetail.time} （具体时间以预约成功短信为准）
                    span 挂号费：#{doctorDetail.price}元
            li.last
                p
                    span 预约单号：#{resvDetail.reservation_id}
                    span 下单时间：#{resvDetail.submission_date}
                p
                    span 就诊人：#{userRealName}
                    span 证件号：#{userSocialId}
                p
                    span 预约医生：#{doctorDetail.name}#{doctorDetail.title}, #{doctorDetail.hospital}-#{doctorDetail.department}
                    span 门诊类型：特色门诊
                p
                    span 就诊类型：初诊
                p
                    span 就诊地点：门诊3楼
                    if resvDetail.paid
                        span="付款状态：已付款"
                    else
                        span="付款状态：未付款"
        div
            button.btn.btn-xs.btn-success 打印
            if !resvDetail.paid
                button.btn.btn-xs.btn-primary 付款

