extends ./sb_layout

block append head
   link(href="/stylesheets/uploadfile.min.css",rel="stylesheet", media="all")
   style.
      .ajax-file-upload-filename {display: none;}

block content
   h2 医生管理

   ul.nav.nav-tabs(role='tablist')
      li.active(role='presentation')
         a(href='#panel-manage', role='tab', data-toggle='tab') 现有医生管理
      li(role='presentation')
         a(href='#panel-add', role='tab', data-toggle='tab') 添加医生

   div.tab-content
      div#panel-manage.tab-pane.fade.in.active
         h3 现有医生管理
         table#doctor-table.table.table-striped.table-bordered.table-hover
            thead
               tr
                  th #
                  th(style='width: 50px') 姓名
                  th(style='width: 60px') 所属科室
                  th(style='width: 80px') 职称
                  th 描述
                  th(style='width: 130px') 操作
            tbody
               each doctor in list
                  tr
                     td= doctor.id
                     td: a.x-editable.x-editable-name(href='#', data-id='#{doctor.id}')= doctor.name
                     td: a.x-editable.x-editable-dept(href='#', data-id='#{doctor.id}')= doctor.department
                     td: a.x-editable.x-editable-title(href='#', data-id='#{doctor.id}')= doctor.title
                     td: a.x-editable.x-editable-desc(href='#', data-id='#{doctor.id}')= doctor.description
                     td
                        a.button.blue-button.xs-button.opnl-button(href='/backstage/doctor/#{doctor.id}/edit_schedule') 编辑排班
                        button.button.red-button.xs-button.delete-doctor(data-id='#{doctor.id}', data-name='#{doctor.name}') 删除医生

         script.
            $(function() {
               var doctorTable = $('#doctor-table').DataTable();

               $('#doctor-table .x-editable-desc').each(function() {
                  $(this).text($(this).text().replace('<br>', ''));
               });
               $('#doctor-table .x-editable-desc').each(function() {
                  $(this).text($(this).text().replace('<br>', ''));
               });
               $('#doctor-table .x-editable-desc').each(function() {
                  $(this).text($(this).text().replace('<br>', ''));
               });

               var deps = !{decodeURI(JSON.stringify(departments))};
               var source = [];
               var i = 0;
               for (var id in deps) {
                  source.push({
                     value: deps[id].id,
                     text: deps[id].name
                  });
                  ++i;
               }

               $('.x-editable-name').each(function (index, element) {
                  $(element).editable({
                     url: 'http://#{businessServer}/hospital/doctor/' + $(element).data('id') + '/update',
                     type: 'text',
                     title: '修改姓名',
                     send: 'always',
                     params: function (params) {
                        return {
                           'name': params.value
                        }
                     }
                  });
               });

               $('.x-editable-dept').each(function(index, element) {
                  $(element).editable({
                     url: 'http://#{businessServer}/hospital/doctor/' + $(element).data('id') + '/update',
                     type: 'select2',
                     title: '修改科室',
                     send: 'always',
                     source: source,
                     select2: {
                        placeholder: "选择科室..."
                     },
                     params: function(params) {
                        return {
                           'department_id': params.value
                        }
                     }
                  });
               });

               $('.x-editable-title').each(function(index, element) {
                  $(element).editable({
                     url: 'http://#{businessServer}/hospital/doctor/' + $(element).data('id') + '/update',
                     type: 'select2',
                     title: '修改职称',
                     send: 'always',
                     source: [
                        {value: '医师', text: '医师'},
                        {value: '专家', text: '专家'},
                        {value: '特级专家', text: '特级专家'},
                        {value: '海外专家', text: '海外专家'},
                        {value: '实习医生', text: '实习医生'},
                        {value: '主治医生', text: '主治医生'},
                        {value: '主任', text: '主任'},
                        {value: '副主任', text: '副主任'}
                     ],
                     select2: {
                        placeholder: "选择职称..."
                     },
                     params: function(params) {
                        return {
                           'title': params.value
                        }
                     }
                  });
               });

               $('.x-editable-desc').each(function(index, element) {
                  $(element).editable({
                     url: 'http://#{businessServer}/hospital/doctor/' + $(element).data('id') + '/update',
                     type: 'textarea',
                     title: '修改描述',
                     send: 'always',
                     params: function(params) {
                        return {
                           'description': params.value
                        }
                     }
                  });
               });

               $('.delete-doctor').click(function() {
                  var tr = $(this).parents('tr');
                  if (confirm('是否确定删除医生' + $(this).data('name') + '？')) {
                     var doctorId = $(this).data('id');
                     $.ajax({
                        url: 'http://#{businessServer}/hospital/doctor/' + doctorId + '/delete',
                        type: 'GET'
                     }).done(function(data) {
                        if (data.code == 0) {
                           setTimeout(function() {
                              doctorTable.row(tr).remove().draw();
                           }, 500);
                           toastr.success('医生已经删除', '成功');
                        } else {
                           toastr.error('系统错误。错误代码：' + data.code, '删除失败');
                        }
                     }).error(function(jqXHR, textStatus, errorThrown) {
                        toastr.error('系统发生致命错误 ' + textStatus + '。错误信息：' + errorThrown, '删除失败');
                     });
                  }
               });
            });

      div#panel-add.tab-pane.fade
         h3 添加医生

         form#alt-form
            .form-group
               .prompt
                  label(for='dname') 姓名
               .control
                  input#dname.form-control(name='dname', required, type='text')

         form
            .form-group
               .prompt
                  label(for='picture') 照片
               .control
                  #fileuploader 上传照片

         form(method='post', action='/backstage/api/add/doctor', id='add-doctor')
            .form-group
               .prompt
                  label(for='departmentId') 所属科室
               .control
                  select#departmentId.form-control(name='departmentId', data-placeholder='选择科室...', required)
                     each department in departments
                        option(value='#{department.id}') #{department.name}

            .form-group
               .prompt
                  label(for='title') 称号
               .control
                  select#title.form-control(name='title', data-placeholder='选择称号...', required)
                     option(value='医师') 医师
                     option(value='专家') 专家
                     option(value='特级专家') 特级专家
                     option(value='海外专家') 海外专家
                     option(value='实习医生') 实习医生
                     option(value='主治医生') 主治医生
                     option(value='主任') 主任
                     option(value='副主任') 副主任

            .form-group
               .prompt
                  label(for='price') 挂号价格（元）
               .control
                  input#price.form-control(name='price', required, type='text')

            .form-group
               .prompt
                  label(for='description') 医生描述
               .control
                  textarea#description.form-control(name='description', required, rows='5')

            .form-group
               .prompt
                  label 出诊时间
                  .note 点击右侧单元格设定
               .control
                  table.time-slots.table.table-bordered
                     tr
                        td
                        td 星期一
                        td 星期二
                        td 星期三
                        td 星期四
                        td 星期五
                        td 星期六
                        td 星期日
                     tr
                        td 上午
                        td.checkable(data-row='1', data-col='1')
                           i.fa-check.fa.fa-fw
                        td.checkable(data-row='2', data-col='1')
                           i.fa-check.fa.fa-fw
                        td.checkable(data-row='3', data-col='1')
                           i.fa-check.fa.fa-fw
                        td.checkable(data-row='4', data-col='1')
                           i.fa-check.fa.fa-fw
                        td.checkable(data-row='5', data-col='1')
                           i.fa-check.fa.fa-fw
                        td.checkable(data-row='6', data-col='1')
                           i.fa-check.fa.fa-fw
                        td.checkable(data-row='7', data-col='1')
                           i.fa-check.fa.fa-fw

                     tr
                        td 下午
                        td.checkable(data-row='1', data-col='2')
                           i.fa-check.fa.fa-fw
                        td.checkable(data-row='2', data-col='2')
                           i.fa-check.fa.fa-fw
                        td.checkable(data-row='3', data-col='2')
                           i.fa-check.fa.fa-fw
                        td.checkable(data-row='4', data-col='2')
                           i.fa-check.fa.fa-fw
                        td.checkable(data-row='5', data-col='2')
                           i.fa-check.fa.fa-fw
                        td.checkable(data-row='6', data-col='2')
                           i.fa-check.fa.fa-fw
                        td.checkable(data-row='7', data-col='2')
                           i.fa-check.fa.fa-fw

                     tr
                        td 晚上
                        td.checkable(data-row='1', data-col='3')
                           i.fa-check.fa.fa-fw
                        td.checkable(data-row='2', data-col='3')
                           i.fa-check.fa.fa-fw
                        td.checkable(data-row='3', data-col='3')
                           i.fa-check.fa.fa-fw
                        td.checkable(data-row='4', data-col='3')
                           i.fa-check.fa.fa-fw
                        td.checkable(data-row='5', data-col='3')
                           i.fa-check.fa.fa-fw
                        td.checkable(data-row='6', data-col='3')
                           i.fa-check.fa.fa-fw
                        td.checkable(data-row='7', data-col='3')
                           i.fa-check.fa.fa-fw

                  span.button.gray-button.xs-button.select-all
                     i.fa.fa-check-square-o
                     | &nbsp;全选
                  span.button.gray-button.xs-button.select-none
                     i.fa.fa-close
                     | &nbsp;清除选择

            .form-group
               .prompt
                  label 可预约人数
               .control
                  label(for='morning') 上午
                  input#morning.form-control.inline(name='morning', type='number', value='0', required)
                  label(for='afternoon') 下午
                  input#afternoon.form-control.inline(name='afternoon', type='number', value='0', required)
                  label(for='evening') 晚上
                  input#evening.form-control.inline(name='evening', type='number', value='0', required)
                  .note 详细的预约人数控制可以在添加医生之后设定。

            input#hospital-id(type='hidden', name='hospitalId', value='#{hospitalId}')
            input#time-slots(type='hidden', name='timeSlots', value='')
            input#name(type='hidden', name='name', value='')
            input#picture(type='hidden', name='photo', value='')
            button.button.submit-button.green-button.button-with-icon(type='submit')
               i.fa.fa-plus
               | &nbsp;添加医生


   style.
      a.button {
         text-decoration: none !important;
      }
      .opnl-button {
         margin-right: 10px;
      }
      .time-slots td {
         text-align: center;
      }
      .time-slots i {
         display: none;
      }
      .time-slots td.checked i {
         display: inline-block;
      }
      .time-slots td.checkable {
         background: #fff;
         cursor: pointer;
      }
      .time-slots td.checkable:hover {
         background: #f7f7f7;
      }
      .time-slots td.checkable.checked {
         background: #f7f7f7;
      }
      .select-all,
      .select-none {
         margin-right: 15px;
      }
      input.form-control.inline {
         width: 100px;
         margin: 0 20px 0 10px;
      }

   script.
      $('#add-doctor').validate();
      //$('#alt-form').validate();
      var $cell = $('.time-slots .checkable');
      $cell.click(function() {
         $(this).toggleClass('checked');
      });
      $('.select-all').click(function() {
         $cell.addClass('checked');
      });
      $('.select-none').click(function() {
         $cell.removeClass('checked');
      });
      $('#add-doctor').on('submit', function() {
         var timeSlots = [
            [0, 0, 0],
            [0, 0, 0],
            [0, 0, 0],
            [0, 0, 0],
            [0, 0, 0],
            [0, 0, 0],
            [0, 0, 0]
         ];
         var caps = [parseInt($('#morning').val()), parseInt($('#afternoon').val()), parseInt($('#evening').val())];
         $('td.checkable.checked').each(function(index, element) {
            var row = $(element).data('row');
            var col = $(element).data('col');
            timeSlots[row - 1][col - 1] = caps[col - 1];
         });
         $('#time-slots').val(JSON.stringify(timeSlots));
         $('#name').val($('#dname').val());
         return $('#dname').valid();
      });

   script(src='/javascripts/jquery.uploadfile.min.js')
   script.
      $("#fileuploader").uploadFile({
         url:"/upload",
         fileName:"picture",
         dragDrop: false,
         multiple: false,
         acceptFiles: 'image/*',
         showStatusAfterSuccess:true,
         dragDropStr: "<span><b>拖拽文件到此处上传</b></span>",
         abortStr:"终止",
         cancelStr:"取消",
         doneStr:"完成",
         showPreview: true,
         showDone: false,
         showProgress: true,
         multiDragErrorStr: "不允许拖拽多个文件",
         uploadErrorStr:"上传失败",
         onSuccess:function(files, data) {
            $("div.ajax-file-upload").hide();
            $(".ajax-file-upload-progress").hide();
            $("input#picture").val(data.name);
         }
      });