//TODO 添加成功提示
   删除成功未刷新

extends ./sb_layout
block content
   h2 科室管理

   ul.nav.nav-tabs(role='tablist')
      li.active(role='presentation')
         a(href='#panel-manage', role='tab', data-toggle='tab') 现有科室管理
      li(role='presentation')
         a(href='#panel-add', role='tab', data-toggle='tab') 添加科室

   div.tab-content
      div#panel-manage.tab-pane.fade.in.active
         h3 现有医院管理
         table#department-table.table.table-striped.table-bordered.table-hover
            thead
               tr
                  th id
                  th 名称
                  th 电话
                  th 简介
                  th.operation 操作
            tbody
               each department in list
                  tr
                     td #{department.id}
                     td #{department.name}
                     td
                        a.x-editable(href='#', data-id='#{department.id}')= department.phone
                     td.description
                        a.x-editable(href='#', data-id='#{department.id}')= department.description
                     td.operation
                        button.button.xs-button.red-button.delete-department(data-id='#{department.id}', data-name='#{department.name}')
                           i.fa.fa-trash 删除

         script.
            $('#department-table').DataTable();
            $('.delete-department').click(function() {
               if (confirm('是否确定删除' + $(this).data('name') + '？')) {
                  var departmentId = $(this).data('id');
                  $.ajax({
                     url: 'http://#{businessServer}/hospital/department/' + departmentId + '/delete',
                     type: 'GET'
                  }).done(function(data) {
                     if (data.code == 0) {
                        toastr.success('科室已经删除', '成功');
                     } else {
                        toastr.error('系统错误。错误代码：' + data.code, '删除失败');
                     }
                  }).error(function(jqXHR, textStatus, errorThrown) {
                     toastr.error('系统发生致命错误 ' + textStatus + '。错误信息：' + errorThrown, '删除失败');
                  });
               }
            });

            $('#panel-manage .description a.x-editable').each(function(index, element) {
               var departmentId = $(element).data('id');
               $(element).editable({
                  url: 'http://#{businessServer}/hospital/department/' + departmentId + '/update',
                  type: 'textarea',
                  send: 'always',
                  params: function(params) {
                     return {
                        'description': params.value
                     }
                  }
               });
            });

            $('#panel-manage a.x-editable').each(function(index, element) {
               var departmentId = $(element).data('id');
               var prop = $(element).data('prop');
               $(element).editable({
                  url: 'http://#{businessServer}/hospital/department/' + departmentId + '/update',
                  type: 'text',
                  send: 'always',
                  params: function(params) {
                     return {
                        'phone': params.value
                     }
                  }
               });
            });

      div#panel-add.tab-pane.fade
         h3 添加科室
         form(method='post', action='/backstage/api/add/department', id='add-department')
            .form-group
               .prompt
                  label(for='name') 科室名称
               .control
                  input#name.form-control(name='name', required, type='text')

            .form-group
               .prompt
                  label(for='tel') 联系电话
               .control
                  input#telephone.form-control(name='telephone', required, type='text')

            .form-group
               .prompt
                  label(for='description') 简介
               .control
                  textarea#description.form-control(name='description', required, rows='5')

            input(type='hidden' name='hospitalId' value='')
            button.button.submit-button.green-button.button-with-icon(type='submit')
               i.fa.fa-plus
               | &nbsp;添加科室

   script.
      $('#add-department').validate();

   style.
      .operation {
         width: 60px;
      }