extends ./sb_layout
block content
   h2 医生排班管理（#{doctorDepartment}&nbsp;#{doctorName}）

   ul.nav.nav-tabs(role='tablist')
      li.active(role='presentation')
         a(href='#panel-current', role='tab', data-toggle='tab') 当前排班情况
      li(role='presentation')
         a(href='#panel-weekly', role='tab', data-toggle='tab') 修改每周排班
      li(role='presentation')
         a(href='#panel-temp', role='tab', data-toggle='tab') 临时排班管理

   div.tab-content

      div#panel-current.tab-pane.fade.in.active
         h3 当前排班情况
         h4 未来一周
         table.time-slots.table.table-bordered
            tr.title
               td
               td.tcell(data-plus-day='0')
               td.tcell(data-plus-day='1')
               td.tcell(data-plus-day='2')
               td.tcell(data-plus-day='3')
               td.tcell(data-plus-day='4')
               td.tcell(data-plus-day='5')
               td.tcell(data-plus-day='6')
            tr
               td.title 上午
               td.cell(data-row='1', data-col='1')= schedule.week[0][0]
               td.cell(data-row='2', data-col='1')= schedule.week[1][0]
               td.cell(data-row='3', data-col='1')= schedule.week[2][0]
               td.cell(data-row='4', data-col='1')= schedule.week[3][0]
               td.cell(data-row='5', data-col='1')= schedule.week[4][0]
               td.cell(data-row='6', data-col='1')= schedule.week[5][0]
               td.cell(data-row='7', data-col='1')= schedule.week[6][0]

            tr
               td.title 下午
               td.cell(data-row='1', data-col='2')= schedule.week[0][1]
               td.cell(data-row='2', data-col='2')= schedule.week[1][1]
               td.cell(data-row='3', data-col='2')= schedule.week[2][1]
               td.cell(data-row='4', data-col='2')= schedule.week[3][1]
               td.cell(data-row='5', data-col='2')= schedule.week[4][1]
               td.cell(data-row='6', data-col='2')= schedule.week[5][1]
               td.cell(data-row='7', data-col='2')= schedule.week[6][1]

            tr
               td.title 晚上
               td.cell(data-row='1', data-col='3')= schedule.week[0][2]
               td.cell(data-row='2', data-col='3')= schedule.week[1][2]
               td.cell(data-row='3', data-col='3')= schedule.week[2][2]
               td.cell(data-row='4', data-col='3')= schedule.week[3][2]
               td.cell(data-row='5', data-col='3')= schedule.week[4][2]
               td.cell(data-row='6', data-col='3')= schedule.week[5][2]
               td.cell(data-row='7', data-col='3')= schedule.week[6][2]

         div#temps(style='display:hidden')
            each record in temp
               span(data-date='#{record.date}', data-period='#{record.period}', data-capacity='#{record.capacity}')

         script.
            var date = new Date();
            var dayToChinese = [
               '星期日',
               '星期一',
               '星期二',
               '星期三',
               '星期四',
               '星期五',
               '星期六'
            ];
            Date.prototype.yyyy_mm_dd = function () {
               var yyyy = this.getFullYear().toString();
               var mm = (this.getMonth() + 1).toString();
               var dd = this.getDate().toString();
               return yyyy + '-' + (mm[1] ? mm : "0" + mm[0]) + '-' + (dd[1] ? dd : "0" + dd[0]);
            };
            var shiftDate = function(date, what, count) {
               var proc1 = 'get' + what;
               var proc2 = 'set' + what;
               var value = Date.prototype[proc1].call(date);
               Date.prototype[proc2].call(date, value + count);
               return date;
            }
            var dates = [];
            for (var i = 0; i < 7; ++i) {
               dates[i] = shiftDate(new Date(), 'Date', i);
            }
            $('.cell').each(function(index, element) {
               var row = $(element).data('row');
               var col = $(element).data('col');

               $(element).data('period', col);
               $(element).attr('data-period', col);
               $(element).data('date', dates[row - 1].yyyy_mm_dd());
               $(element).attr('data-date', dates[row - 1].yyyy_mm_dd());
            });
            $('.tcell').each(function(index, element) {
               var date = shiftDate(new Date(), 'Date', parseInt($(element).data('plus-day')));
               $(element).html(dayToChinese[date.getDay()] + '<br>' + date.yyyy_mm_dd());
            });
            $('#temps').each(function(index, element) {
               var date = $(element).data('date');
               var period = $(element).data('period');
               var capacity = $(element).data('capacity');
               $('#panel-current .cell').each(function(index, element) {
                  if ($(element).data('date') == date && $(element).date('period') == period) {
                     $(element).text(capacity);
                     return false;
                  }
               });
            });

         style.
            .time-slots {
               text-align: center;
            }
            .time-slots .title {
               font-weight: bold;
            }


      div#panel-weekly.tab-pane.fade
         h3 修改每周排班
         table.time-slots.table.table-bordered
            tr.title
               td
               td 星期一
               td 星期二
               td 星期三
               td 星期四
               td 星期五
               td 星期六
               td 星期日
            tr
               td.title 上午
               td.cell
                  a.x-editable(href='#', data-day='1', data-period='1', data-id='#{doctorId}')= schedule.week[0][0]
               td.cell
                  a.x-editable(href='#', data-day='2', data-period='1', data-id='#{doctorId}')= schedule.week[1][0]
               td.cell
                  a.x-editable(href='#', data-day='3', data-period='1', data-id='#{doctorId}')= schedule.week[2][0]
               td.cell
                  a.x-editable(href='#', data-day='4', data-period='1', data-id='#{doctorId}')= schedule.week[3][0]
               td.cell
                  a.x-editable(href='#', data-day='5', data-period='1', data-id='#{doctorId}')= schedule.week[4][0]
               td.cell
                  a.x-editable(href='#', data-day='6', data-period='1', data-id='#{doctorId}')= schedule.week[5][0]
               td.cell
                  a.x-editable(href='#', data-day='7', data-period='1', data-id='#{doctorId}')= schedule.week[6][0]

            tr
               td.title 下午
               td.cell
                  a.x-editable(href='#', data-day='1', data-period='2', data-id='#{doctorId}')= schedule.week[0][1]
               td.cell
                  a.x-editable(href='#', data-day='2', data-period='2', data-id='#{doctorId}')= schedule.week[1][1]
               td.cell
                  a.x-editable(href='#', data-day='3', data-period='2', data-id='#{doctorId}')= schedule.week[2][1]
               td.cell
                  a.x-editable(href='#', data-day='4', data-period='2', data-id='#{doctorId}')= schedule.week[3][1]
               td.cell
                  a.x-editable(href='#', data-day='5', data-period='2', data-id='#{doctorId}')= schedule.week[4][1]
               td.cell
                  a.x-editable(href='#', data-day='6', data-period='2', data-id='#{doctorId}')= schedule.week[5][1]
               td.cell
                  a.x-editable(href='#', data-day='7', data-period='2', data-id='#{doctorId}')= schedule.week[6][1]

            tr
               td.title 晚上
               td.cell
                  a.x-editable(href='#', data-day='1', data-period='3', data-id='#{doctorId}')= schedule.week[0][2]
               td.cell
                  a.x-editable(href='#', data-day='2', data-period='3', data-id='#{doctorId}')= schedule.week[1][2]
               td.cell
                  a.x-editable(href='#', data-day='3', data-period='3', data-id='#{doctorId}')= schedule.week[2][2]
               td.cell
                  a.x-editable(href='#', data-day='4', data-period='3', data-id='#{doctorId}')= schedule.week[3][2]
               td.cell
                  a.x-editable(href='#', data-day='5', data-period='3', data-id='#{doctorId}')= schedule.week[4][2]
               td.cell
                  a.x-editable(href='#', data-day='6', data-period='3', data-id='#{doctorId}')= schedule.week[5][2]
               td.cell
                  a.x-editable(href='#', data-day='7', data-period='3', data-id='#{doctorId}')= schedule.week[6][2]

         script.
            $('#panel-weekly a.x-editable').each(function(index, element) {
               var doctorId = $(element).data('id');
               $(element).editable({
                  url: 'http://#{businessServer}/hospital/doctor/' + doctorId + '/working/week/update',
                  type: 'text',
                  send: 'always',
                  title: '最大预约人数',
                  params: function(params) {
                     return {
                        "works": [
                           {
                              "day": $(element).data('day'),
                              "period": $(element).data('period'),
                              "action": params.value
                           }
                        ],
                        "adminId": #{userId}
                     };
                  }
               });
            });


      div#panel-temp.tab-pane.fade
         h3 添加记录
         form(id='add-temp')
            .form-group
               .prompt
                  label(for='date') 日期
               .control
                  input#date.form-control.date-picker(name='date', type='text', required)

            .form-group
               .prompt
                  label(for='period') 时间段
               .control
                  select#period.form-control(name='period', data-placeholder='选择时间段...', required)
                     option(value='1') 上午
                     option(value='2') 下午
                     option(value='3') 晚上

            .form-group
               .prompt
                  label(for='capacity') 可预约人数
               .control
                  input#capacity.form-control(name='capacity', type='number', required)
                  .note 设为 0 即表示不开放预约。
            button#submit-button.button.submit-button.green-button.button-with-icon(type='submit', data-doctor_id='#{doctorId}')
               i.fa.fa-plus
               | &nbsp;添加临时排班记录

         h3 当前记录
         table#temp-table.table.table-striped.table-bordered.table-hover
            thead
               tr
                  th 日期
                  th 时间段
                  th 可预约人数
                  th 操作
            tbody
               each record in schedule.temp
                  tr
                     td= record.date
                     case record.period
                        when 1
                           td 上午
                        when 2
                           td 中午
                        when 3
                           td 下午
                     td= record.capacity
                     td: button.button.red-button.xs-button.delete-temp(data-date='#{record.date}', data-period='#{record.period}', data-doctor_id='#{doctorId}') 删除记录

         script.
            $('#add-temp').validate();
            $('.date-picker').datepicker({
               format: "yyyy-mm-dd",
               todayBtn: "linked",
               language: "zh-CN",
               keyboardNavigation: !1,
               autoclose: !0,
               todayHighlight: !0
            });
            $('#submit-button').on('click', function(e) {
               e.preventDefault();
               var date = $('#date').val();
               var period = $('#period').val();
               var capacity = $('#capacity').val();
               var doctorId = $(this).data('doctor_id');
               if (date != '' && period != '' && capacity != '') {
                  $.ajax({
                     url: 'http://#{businessServer}/hospital/doctor/' + doctorId + '/working/temp/add',
                     type: 'POST',
                     data: {
                        date: date,
                        period: period,
                        adminId: #{userId},
                        action: capacity
                     }
                  }).done(function(data) {
                     if (data.code == 0) {
                        toastr.success('临时排班已添加', '成功');
                        $('#date').val(null);
                        $('#period').val(null);
                        $('#capacity').val(null);
                     } else {
                        toastr.error('系统错误。错误代码：' + data.code, '添加失败');
                     }
                  }).error(function() {
                     toastr.error('系统发生致命错误。错误信息：ECONNECTREFUSED', '添加失败');
                  });
               }
            });

            $('#temp-table').DataTable();
            $('.delete-temp').click(function() {
               if (confirm('是否确定删除该排班项？')) {
                  var doctorId = $(this).data('doctor_id');
                  var date = $(this).data('date');
                  var period = $(this).data('period');
                  $.ajax({
                     url: 'http://#{businessServer}/hospital/doctor/' + doctorId + '/working/temp/delete',
                     type: 'POST',
                     data: {
                        date: date,
                        period: period,
                        adminId: #{userId}
                     }
                  }).done(function(data) {
                     if (data.code == 0) {
                        toastr.success('排班已经删除', '成功');
                     } else {
                        toastr.error('系统错误。错误代码：' + data.code, '删除失败');
                     }
                  }).error(function() {
                     toastr.error('系统发生致命错误。错误信息：ECONNECTREFUSED', '删除失败');
                  });
               }
            });