extends ./sb_layout
block content
   h2 医院管理

   ul.nav.nav-tabs(role='tablist')
      li.active(role='presentation')
         a(href='#panel-manage', role='tab', data-toggle='tab') 现有医院管理
      li(role='presentation')
         a(href='#panel-add', role='tab', data-toggle='tab') 添加医院

   div.tab-content
      div#panel-manage.tab-pane.fade.in.active
         h3 现有医院管理
         table#hospitals-table.table.table-striped.table-bordered.table-hover
            thead
               tr
                  th id
                  th 医院名称
                  th 等级
                  th 所在省份
                  th 地址
                  th 联系电话
                  th 官方网站
                  th 简介
                  th.operation 操作
            tbody
               each hospital in list
                  tr
                     td #{hospital.id}
                     td #{hospital.name}
                     td.level
                        a.x-editable(href='#', data-id='#{hospital.id}')= hospital.level
                     td #{hospital.province}
                     td
                        a.x-editable(href='#', data-id='#{hospital.id}', data-prop='address')= hospital.address
                     td
                        a.x-editable(href='#', data-id='#{hospital.id}', data-prop='telephone')= hospital.telephone
                     td
                        a.x-editable(href='#', data-id='#{hospital.id}', data-prop='website')= hospital.website
                     td.description
                        a.x-editable(href='#', data-id='#{hospital.id}')= hospital.description
                     td.operation
                        button.button.xs-button.red-button.delete-hospital(data-id='#{hospital.id}', data-name='#{hospital.name}')
                           i.fa.fa-trash 删除

         script.
            $('#panel-manage .level a.x-editable').each(function (index, element) {
               var hospitalId = $(element).data('id');
               $(element).editable({
                  url: 'http://#{businessServer}/hospital/hospital/' + hospitalId + '/update',
                  type: 'select2',
                  send: 'always',
                  source: [{id: "一级丙等", text: "一级丙等"}, {id: "一级乙等", text: "一级乙等"}, {id: "一级甲等", text: "一级甲等"},
                     {id: "二级丙等", text: "二级丙等"}, {id: "二级乙等", text: "二级乙等"}, {id: "二级甲等", text: "二级甲等"},
                     {id: "三级丙等", text: "三级丙等"}, {id: "三级乙等", text: "三级乙等"}, {id: "三级甲等", text: "三级甲等"}, {id: "三级特等", text: "三级特等"}],
                  params: function (params) {
                     return {
                        "level": params.value
                     };
                  }
               });
            });

            $('#panel-manage .description a.x-editable').each(function(index, element) {
               var hospitalId = $(element).data('id');
               $(element).editable({
                  url: 'http://#{businessServer}/hospital/hospital/' + hospitalId + '/update',
                  type: 'textarea',
                  send: 'always',
                  params: function(params) {
                     return {
                        'description': params.value
                     }
                  }
               });
            });

            $('#panel-manage a.x-editable').each(function(index, element) {
               var hospitalId = $(element).data('id');
               var prop = $(element).data('prop');
               $(element).editable({
                  url: 'http://#{businessServer}/hospital/hospital/' + hospitalId + '/update',
                  type: 'text',
                  send: 'always',
                  params: function(params) {
                     var r = {};
                     r[prop] = params.value;
                     return r;
                  }
               });
            });

            var dt = $('#hospitals-table').DataTable();
            $('.delete-hospital').click(function() {
               var tr = $(this).parents('tr');
               if (confirm('是否确定删除' + $(this).data('name') + '？')) {
                  var hospitalId = $(this).data('id');
                  $.ajax({
                     url: 'http://#{businessServer}/hospital/hospital/' + hospitalId + '/delete',
                     type: 'GET'
                  }).done(function(data) {
                     if (data.code == 0) {
                        dt.row(tr).remove().draw();
                        toastr.success('医院已经删除', '成功');
                     } else {
                        toastr.error('系统错误。错误代码：' + data.code, '删除失败');
                     }
                  }).error(function(jqXHR, textStatus, errorThrown) {
                     toastr.error('系统发生致命错误 ' + textStatus + '。错误信息：' + errorThrown, '删除失败');
                  });
               }
            });


      div#panel-add.tab-pane.fade
         h3 添加医院
         form(method='post', action='/backstage/api/add/hospitals', id='add-hospitals')
            .form-group
               .prompt
                  label(for='name') 医院名称
               .control
                  input#name.form-control(name='name', required, type='text')

            .form-group
               .prompt
                  label(for='level') 等级
               .control
                  select.form-control(name='level', data-placeholder='选择等级...' required)
                     option(value='一级丙等') 一级丙等
                     option(value='一级乙等') 一级乙等
                     option(value='一级甲等') 一级甲等
                     option(value='二级丙等') 二级丙等
                     option(value='二级乙等') 二级乙等
                     option(value='二级甲等') 二级甲等
                     option(value='三级丙等') 三级丙等
                     option(value='三级乙等') 三级乙等
                     option(value='三级甲等') 三级甲等
                     option(value='三级特等') 三级特等

            .form-group
               .prompt
                  label(for='province') 所在省份
               .control
                  select.form-control(name='province', data-placeholder='选择省份...' required)
                     option(value='beijing') 北京市
                     option(value='tianjing') 天津市
                     option(value='hebei') 河北省
                     option(value='shanxi') 山西省
                     option(value='neimenggu') 内蒙古自治区
                     option(value='liaoning') 辽宁省
                     option(value='jilin') 吉林省
                     option(value='heilongjiang') 黑龙江省
                     option(value='shanghai') 上海市
                     option(value='jiangsu') 江苏省
                     option(value='zhejiang') 浙江省
                     option(value='anhui') 安徽省
                     option(value='fujian') 福建省
                     option(value='jiangxi') 江西省
                     option(value='shandong') 山东省
                     option(value='henan') 河南省
                     option(value='hubei') 湖北省
                     option(value='hunan') 湖南省
                     option(value='guangdong') 广东省
                     option(value='guangxi') 广西省
                     option(value='hainan') 海南省
                     option(value='chongqing') 重庆市
                     option(value='sichuan') 四川省
                     option(value='guizhou') 贵州省
                     option(value='yunnan') 云南省
                     option(value='xizang') 西藏自治区
                     option(value='shaanxi') 陕西省
                     option(value='gansu') 甘肃省
                     option(value='qinghai') 青海省
                     option(value='ningxia') 宁夏回族自治区
                     option(value='xinjiang') 新疆维吾尔族自治区

            .form-group
               .prompt
                  label(for='address') 地址
               .control
                  input#address.form-control(name='address', required, type='text')

            .form-group
               .prompt
                  label(for='tel') 联系电话
               .control
                  input#telephone.form-control(name='telephone', required, type='text')

            .form-group
               .prompt
                  label(for='website') 网址
               .control
                  input#website.form-control(name='website', required, type='text')

            .form-group
               .prompt
                  label(for='description') 简介
               .control
                  textarea#description.form-control(name='description', required, rows='5')

            button.button.submit-button.green-button.button-with-icon(type='submit')
               i.fa.fa-plus
               | &nbsp;添加医院

   script.
      $('#add-hospitals').validate();
      window.onload = function(){
         var params = $(location).attr('pathname');
         params = params.split('/');
         if (params.length == 6) {
            if (params[4] == 'success') {
               toastr.success('医院已经添加', '成功');
            } else if (params[4] == 'fail') {
               toastr.error('医院添加失败，错误信息：' + params[5], '失败');
            }
         }
      };

   style.
      .operation {
         width: 60px;
      }