extends ./sb_layout
block content

   script.
      $(document).ready(function () {
         $('#example').DataTable();
         $('.confirm').click(function() {

               var reservationId = $(this).data('id');
               $.ajax({
                  url: 'http://#{businessServer}/hospital/reservation/' + reservationId + '/confirm',
                  type: 'POST',
                  success:function (data){
                     location.reload(true);
                  }
               }).done(function(data) {
                  if (data.code == 0) {
                     toastr.success('确认到场', '成功');
                  } else {
                     toastr.error('系统错误。错误代码：' + data.code, '失败');
                  }
               }).error(function(jqXHR, textStatus, errorThrown) {
                  toastr.error('系统发生致命错误 ' + textStatus + '。错误信息：' + errorThrown, '失败');
               });

         });

      });
   h2 预约单管理
   div
      table#example.table.table-bordered.table-striped.table-hover(cellspacing='0', width='80%')
         thead
            tr
               th 医院
               th 医生姓名
               th 患者姓名
               th 身份证号
               th 时间
               th 状态
               th 科室
               th 价格
               th 操作
         tbody
            if (list.length)
               each item in list

                  tr
                     td #{item.hospital_name}
                     td #{item.doctor_name}
                     td #{item.user_name}
                     td #{item.user_sid}
                     td #{item.time}
                     td #{item.status_msg}
                     td #{item.department_name}
                     td #{item.price}
                     td
                        if (item.status.charAt(2)!='2')
                          button.button.blue-button.xs-button.delete-hospital(class='confirm',data-id='#{item.reservation_id}') 确认到场

                        else
                          label  已到场