extends ./sb_layout
block content

   script.
      $(document).ready(function () {

         $('.time_span').each(function(){
            var time=$(this).data('time');
            var array=time.split('T');
            $(this).html(array[0]);
         });
         $('.pay_situation').each(function() {
            var pay_content;
            var status=$(this).data('id');
            if (status[0]=='0'){
               pay_content='现场';
            }
            else {
               pay_content='在线';
            }
            if (status[1]=='0'){
               pay_content+='_未付款';
            }
            else {
               pay_content+='_已付款';
            }

            $(this).html(pay_content);
         });
         $('.status').each(function(){

            var status_content;
            var button_disable=true;
            var status=$(this).data('id');
            if (status[2]=='0'){
               status_content='未确认';
               button_disable=false;
            }
            else if(status[2]=='1'){
               status_content='未到场';
            }
            else {
               status_content='已到场';
            }
            if(status[3]=='0'){
               status_content+='_未超时';
            }
            else {
               status_content+='_已超时';
               button_disable=true;

            }
            $(this).html(status_content);
            var button='#'+$(this).data('flag');
            $(button).attr("disabled", button_disable);
            $('#example').DataTable();

         });



         $('.confirm').click(function() {

               var reservationId = $(this).data('id');
               $.ajax({
                  url: 'http://#{businessServer}/hospital/reservation/' + reservationId + '/confirm',
                  type: 'POST',
                  success:function (data){
                     location.reload(true);
                  }
               }).done(function(data) {
                  if (data.code == 0) {
                     toastr.success('确认到场', '成功');
                  } else {
                     toastr.error('系统错误。错误代码：' + data.code, '失败');
                  }
               }).error(function(jqXHR, textStatus, errorThrown) {
                  toastr.error('系统发生致命错误 ' + textStatus + '。错误信息：' + errorThrown, '失败');
               });

         });



      });
   h2 预约单管理
   div
      table#example.table.table-bordered.table-striped.table-hover(cellspacing='0', width='80%')
         thead
            tr
               th 科室
               th 患者姓名
               th 身份证号
               th 时间
               th 支付情况
               th 状态
               th 价格
               th 操作
         tbody
            if (list.length)
               each item in list

                  tr
                     td  #{item.department_name}
                     td  #{item.user_name}
                     td  #{item.user_sid}
                     td
                        span(class='time_span',data-time='#{item.time}')
                     td
                        span(data-id='#{item.status}',class='pay_situation')
                     td
                        span(data-id='#{item.status}',class='status',data-flag='#{item.reservation_id}')
                     td ￥#{item.price}
                     td
                        button.button.blue-button.xs-button.delete-hospital(class='confirm',data-id='#{item.reservation_id}',id='#{item.reservation_id}') 确认到场

