extends ./sb_layout
block content

   h2 预约单管理
   div
      table#example.table.table-bordered.table-striped.table-hover(cellspacing='0', width='80%')
         thead
            tr
               th 科室
               th 患者姓名
               th 身份证号
               th 时间
               th 支付情况
               th 状态
               th 价格
               th 操作
         tbody
            if (list.length)
               each item in list

                  tr
                     td  #{item.department_name}
                     td  #{item.user_name}
                     td  #{item.user_sid}
                     td
                        span(class='time_span',data-time='#{item.time}')
                     td
                        span(data-id='#{item.status}',class='pay_situation')
                     td(class='status_td')
                        span(data-id='#{item.status}',class='status',data-flag='#{item.reservation_id}')
                     td ￥#{item.price}
                     td
                        button.button.blue-button.xs-button.delete-hospital(class='confirm',data-id='#{item.reservation_id}',id='#{item.reservation_id}') 确认到场

      script.
         $('.time_span').each(function(){
            var time=$(this).data('time');
            var array=time.split('T');
            $(this).html(array[0]);
         });

         $('.status').each(function(){

            var status_content;
            var button_disable;
            var passtime=false;
            var isCancel=false;
            var status=$(this).data('id').toString();
            if(status[2]=='2'){

               status_content='已完成';
               button_disable=true;
            }
            else {
               status_content = '进行中';
               button_disable = false;
            }
            if(status[3]=='1') {
               status_content='已超时';
               button_disable=true;
               passtime=true;
            }
            if(status[5]=='1'){
               status_content='已取消';
               button_disable=true;
               isCancel=true;
            }

            $(this).text(status_content);
            var button='#'+$(this).data('flag');
            if(button_disable){
               $(button).disabled=true;
               $(button).text("已确认到场");
               if (passtime)
               {
                  $(button).text("已超时");
               }
               if (isCancel){
                  $(button).text("已取消");
               }
               $(button).addClass("disabled-button");

            }


         });
         $('.pay_situation').each(function() {
            var pay_content;
            var status=$(this).data('id').toString();

            if (status[0]=='1'&& status[1]=='1'){
               pay_content='已付款:在线支付';
            }

            else if(status[0]=='0'&& status[1]=='1'){
               pay_content='已付款:现场支付';
            }
            else{
               pay_content="未付款";
            }
            $(this).html(pay_content);
         });




         $('.confirm').click(function() {
            if(!$(this).hasClass("disabled-button")){
               var reservationId = $(this).data('id');
               var button=$(this);
               $.ajax({
                  url: 'http://#{businessServer}/hospital/reservation/' + reservationId + '/confirm',
                  type: 'POST'

               }).done(function(data) {
                  if (data.code == 0) {
                     toastr.success('确认到场', '成功');
                     var status_td=button.parent().siblings(".status_td").children('.status');

                     status_td.text("已完成");
                     button.text("已确认到场");
                     button.addClass("disabled-button");

                  } else {
                     toastr.error('系统错误。错误代码：' + data.code, '失败');
                  }
               }).error(function(jqXHR, textStatus, errorThrown) {
                  toastr.error('系统发生致命错误 ' + textStatus + '。错误信息：' + errorThrown, '失败');
               });

            }
         });

         $('#example').DataTable({
            language: {
               "sProcessing":   "处理中...",
               "sLengthMenu":   "每页 _MENU_ 项结果",
               "sZeroRecords":  "没有匹配结果",
               "sInfo":         "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
               "sInfoEmpty":    "显示第 0 至 0 项结果，共 0 项",
               "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
               "sInfoPostFix":  "",
               "sSearch":       "搜索:",
               "sUrl":          "",
               "sEmptyTable":     "表中数据为空",
               "sLoadingRecords": "载入中...",
               "sInfoThousands":  ",",
               "oAria": {
                  "sSortAscending":  ": 以升序排列此列",
                  "sSortDescending": ": 以降序排列此列"
               }
            }
         });