extends ./sb_layout
block content
   script.
      $(document).ready(function() {
         $('#example').DataTable();
         $('.accept_button').click(function() {

            var userId = $(this).data('id');
            $.ajax({
               url: 'http://#{businessServer}/user/check/' + userId + '/approve',
               type: 'POST',
               success:function (data){
                  location.reload(true);
               }
            }).done(function(data) {
               if (data.code == 0) {
                  toastr.success('确认审核', '成功');
               } else {
                  toastr.error('系统错误。错误代码：' + data.code, '失败');
               }
            }).error(function(jqXHR, textStatus, errorThrown) {
               toastr.error('系统发生致命错误 ' + textStatus + '。错误信息：' + errorThrown, '失败');
            });

         });
         $('.refuse_button').click(function() {

            var userId = $(this).data('id');
            $.ajax({
               url: 'http://#{businessServer}/user/check/' + userId + '/reject',
               type: 'POST'
            }).done(function(data) {
               if (data.code == 0) {
                  toastr.success('拒绝', '该用户');
               } else {
                  toastr.error('系统错误。错误代码：' + data.code, '失败');
               }
            }).error(function(jqXHR, textStatus, errorThrown) {
               toastr.error('系统发生致命错误 ' + textStatus + '。错误信息：' + errorThrown, '失败');
            });

         });
      } );
   h2 用户管理
   div
      table#example.table.table-striped.table-bordered.table-hover(cellspacing='0', width='60%')
         thead
            tr

               th 真实姓名
               th 身份证
               th 电话
               th 邮箱
               th ip
               th 操作

         tbody
            if (list.length)
               each item in list

                  tr
                     td #{item.name}
                     td #{item.id}
                     td #{item.phone}
                     td #{item.email}
                     td #{item.ip}
                     td
                        button.button.xs-button.blue-button.delete-hospital(class='accept_button',data-id='#{item.user_id}')  接受
                        button.button.xs-button.red-button.delete-hospital(class='refuse_button',data-id='#{item.user_id}')  拒绝


