extends ./sb_layout
block content
   script.
      $(document).ready(function() {
         var data_table=$('#example').DataTable({
            pageLength: 50,
            language: {
               "sProcessing":   "处理中...",
               "sLengthMenu":   "每页 _MENU_ 项结果",
               "sZeroRecords":  "没有匹配结果",
               "sInfo":         "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
               "sInfoEmpty":    "显示第 0 至 0 项结果，共 0 项",
               "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
               "sInfoPostFix":  "",
               "sSearch":       "搜索:",
               "sUrl":          "",
               "sEmptyTable":     "表中数据为空",
               "sLoadingRecords": "载入中...",
               "sInfoThousands":  ",",
               "oAria": {
                  "sSortAscending":  ": 以升序排列此列",
                  "sSortDescending": ": 以降序排列此列"
               }
            }
         });
         $('.accept_button').click(function() {

            var userId = $(this).data('id');
            var tr = $(this).parents('tr');
            $.ajax({
               url: 'http://#{businessServer}/user/check/' + userId + '/approve',
               type: 'POST'

            }).done(function(data) {
               if (data.code == 0) {
                  toastr.success('确认审核', '成功');
                  data_table.row(tr).remove().draw();

               } else {
                  toastr.error('系统错误。错误代码：' + data.code, '失败');
               }
            }).error(function(jqXHR, textStatus, errorThrown) {
               toastr.error('系统发生致命错误 ' + textStatus + '。错误信息：' + errorThrown, '失败');
            });

         });
         $('.refuse_button').click(function() {

            var userId = $(this).data('id');
            $.ajax({
               url: 'http://#{businessServer}/user/check/' + userId + '/reject',
               type: 'POST'
            }).done(function(data) {
               if (data.code == 0) {
                  toastr.success('该用户已经被拒绝。', '成功');
               } else {
                  toastr.error('系统错误。错误代码：' + data.code, '失败');
               }
            }).error(function(jqXHR, textStatus, errorThrown) {
               toastr.error('系统发生致命错误 ' + textStatus + '。错误信息：' + errorThrown, '失败');
            });

         });


         $('#credit_table').DataTable({
            language: {
               "sProcessing":   "处理中...",
               "sLengthMenu":   "每页 _MENU_ 项结果",
               "sZeroRecords":  "没有匹配结果",
               "sInfo":         "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
               "sInfoEmpty":    "显示第 0 至 0 项结果，共 0 项",
               "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
               "sInfoPostFix":  "",
               "sSearch":       "搜索:",
               "sUrl":          "",
               "sEmptyTable":     "表中数据为空",
               "sLoadingRecords": "载入中...",
               "sInfoThousands":  ",",
               "oAria": {
                  "sSortAscending":  ": 以升序排列此列",
                  "sSortDescending": ": 以降序排列此列"
               }
            }
         });


      });
   h2 用户管理
   ul.nav.nav-tabs(role='tablist')
      li.active(role='presentation')
         a(href='#panel-verify', role='tab', data-toggle='tab') 用户审核
      li(role='presentation')
         a(href='#panel-credit', role='tab', data-toggle='tab') 信用管理
   div.tab-content
      div#panel-verify.tab-pane.fade.in.active
         h3 用户审核
         table#example.table.table-striped.table-bordered.table-hover(cellspacing='0', width='60%')
            thead
               tr
                  th 登录名
                  th 真实姓名
                  th 身份证
                  th 电话
                  th 邮箱
                  th 注册IP
                  th 操作

            tbody
               if (validatingList.length)
                  each item in validatingList
                     tr
                        td #{item.username}
                        td #{item.name}
                        td #{item.id}
                        td #{item.phone}
                        td #{item.email}
                        td #{item.ip}
                        td
                           button.button.xs-button.blue-button.delete-hospital(class='accept_button',data-id='#{item.user_id}')  通过审核
                           button.button.xs-button.red-button.delete-hospital(class='refuse_button',data-id='#{item.user_id}',style='margin-left:10px')  拒绝


      div#panel-credit.tab-pane.fade
         h3 信用管理
         table#credit_table.table.table-striped.table-bordered.table-hover(cellspacing='0', width='60%')
            thead
               tr
                  th 登录名
                  th 真实姓名
                  th 身份证
                  th 电话
                  th 邮箱
                  th 注册IP
                  th 信用额度

            tbody
                if (unqualifiedList.length)
                    each item in unqualifiedList
                       tr
                          td #{item.username}
                          td #{item.name}
                          td #{item.id}
                          td #{item.phone}
                          td #{item.email}
                          td #{item.ip}
                          td
                             a.x-editable.x-editable-credit(href='#', data-id='#{item.user_id}')= -1

         script.
            $('.x-editable-credit').each(function(index, element) {
               var userId = $(element).data('id');
               var adminId= #{userId};
               $(element).editable({
                  url: 'http://#{businessServer}/user/check/'+userId+'/revive',
                  type: 'select2',
                  send: 'always',
                  source: [
                     {value: 1, text: '1'},
                     {value: 2, text: '2'},
                     {value: 3, text: '3'},
                     {value: 4, text: '4'},
                     {value: 5, text: '5'}

                  ],
                  select2: {
                     placeholder: "选择信用额"
                  },
                  title: '修改信用额',
                  params: function(params) {
                     return {
                        'credit': params.value,
                        'adminId':adminId
                     }
                  }
               });
            });