extends ./sb_layout
block content
   script(type="text/javascript").
      $(document).ready(function() {
         $('#example').DataTable();
         $('#accept_button').bind("click",$('#accept_button').attr('name'),function (params){
            $.post("/user/check/"+params.data[0]+"/approve",

                    function(data,status){
                        location.reload(true);
                    });
         });
         $('#refuse_button').bind("click",$('#refuse_button').attr('name'),function (params){
            $.post("/user/check/"+params.data[0]+"/reject",

                    function(data,status){
                          location.reload(true);
                    });
         });
      } );
   h2 用户管理
   div
      table#example.display(cellspacing='0', width='80%')
         thead
            tr

               th 真实姓名
               th id
               th 电话
               th 邮箱
               th ip
               th 操作
         tfoot
            tr

               th 真实姓名
               th id
               th 电话
               th 邮箱
               th ip
               th 操作
         tbody
            if (list.length)
               each item in list

                  tr
                     td #{item.name}
                     td #{item.id}
                     td #{item.phone}
                     td #{item.email}
                     td #{item.ip}
                     td
                        button.button.green-button(id=accept_button,name=item.id)  接受
                        button.button.red-button(id=refuse_button,name=item.id)  拒绝


